@import "../../App.scss";
.navbar {
  height: 60px;
  width: 100%;
  z-index: 999;
  transition: $transition;
  border-bottom: none;
  z-index: 4;
  position: fixed;
  top: 0px;
  box-shadow: rgba(27, 30, 36, 0.1) 0px 8px 16px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid #e2e2e7;
  background-color: rgb(255, 255, 255);
  .navbar-brand-text {
    margin-left: 5px;
  }
  .navbar-search-btn {
    margin-right: 12px;
  }
}

.header {
  .header-content {
    height: 400px;
    margin-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url("../../assets/images/header-img.jpg") center/cover no-repeat;
    background-size: 100%;
  }
  .header-title {
    margin-top: 2.4rem;
    font-size: 40px;
  }
}
